.div {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 15px 40px;
    font-weight: bolder;
    font-size: 2rem;
}
.div:hover{
    background-color: gold;
}
.container {
    display: flex;
    align-items: center;
    height: 6vh;
}
.link, .link:hover{
    color:teal;
    text-decoration: none;
}