.div {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 15px 30px;
}
.div:hover{
    background-color: gold;
}
.container {
    display: flex;
    align-items: center;
    height: 3rem;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.link, .link:hover{
    color:teal;
    text-decoration: none;
}