html,
body {
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	background-position: right;
	background-repeat: no-repeat;
    background-color:white;
	background-size: cover;
	min-height: 94vh;
}
.container > * {
	color: white;
	border-radius: 0.5rem;
    padding: 1rem 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.items {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.title {
	font-size: 4rem;
	margin: 0;
}

.attr {
    font-size: 2rem;
    padding: 0 0.5rem;
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 0.9rem;
}

.div {
    max-width: 50vw;
    font-size: 1.5rem;
}